ul {
  list-style: none;
  padding: 0px;
}

.fa-trash {
  cursor: pointer;
  margin: 0 0 0 25px;
  display: inline-block;
}

/*Strikes through the label when the checkbox is checked.*/
input[type=checkbox]:checked + label.task{
  text-decoration: line-through;
}
